@model BeyondThemes.BeyondAdmin.Models.Configservice.tbService

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Default.cshtml";
}

<div class="well with-header  with-footer">
    <div class="header bg-success">
        รายละเอียดประเภทบริการ
    </div>
    <h4>รายละเอียดประเภทบริการ : @ViewBag.servicename</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ServiveName) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiveName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prefix) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prefix)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CCopy) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CCopy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartQ) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartQ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndQ) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndQ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastQ) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastQ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QDate) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remark) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remark1) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remark1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Speaker) : 
        </dt>

        <dd>
            @if (Model.Speaker == "L")
            {
                @("เสียงออกลำโพงซ้าย");
            }
            else
            {
                @("เสียงออกลำโพงขวา");
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeptID) :
        </dt>

        <dd>
            @ViewBag.Depart
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServiceFullName) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceFullName)
        </dd>

    </dl>
    <p>
        @Html.ActionLink(" กลับสู่หน้ารายการ", "Index", null, new { @class = "btn btn-lg   fa fa-arrow-left shiny btn-yellow" })
        @Html.ActionLink("Edit", "Edit", new { id = Model.ServID }, new { @class = "btn shiny btn-success" }) 
    </p>
</div>

